
#backbutton{
	position: absolute;
	z-index: 300;
}

#backbutton a:visited{
	color: black;
}
#backbutton a:link{
	color: black;
}

#galleries {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	z-index: 30;
	position: absolute;
	left: 0px;
	top: 0px;
	
}

#videos {
	background-color: #EFEFEF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat','sans-serif';
	animation: entranceAnimation 0.5s forwards 0.5s linear;
}
#videos a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 35;
}
#design {
	background-color: #00CC52;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat','sans-serif';
	animation: entranceAnimation 0.5s forwards 0.4s linear;
}
#design a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 35;
}
#other {
	background-color: #0541D8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat','sans-serif';
	animation: entranceAnimation 0.5s forwards 0.3s linear;
}
#other a{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 35;
}

@keyframes entranceAnimation{
	0%{
		transform: translateY(-150%);
		opacity: 1;
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}